<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

	<appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{ISO8601}] %-5p [%t]%n - %l%n  - %m%n" />
		</layout>
	</appender>

	<appender name="DEBUG" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="/oneapm/log/console/console_debug.log" />
		<param name="MaxBackupIndex" value="10" /><!--备份10天-->
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{ISO8601}] %-5p [%t]%n - %l%n  - %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="DEBUG" />
			<param name="LevelMax" value="ERROR" />
		</filter>
	</appender>

	<appender name="ERROR" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="/oneapm/log/console/console_error.log" />
		<param name="MaxBackupIndex" value="10" /><!--备份10天-->
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{ISO8601}] %-5p [%t]%n - %l%n  - %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="ERROR" />
			<param name="LevelMax" value="ERROR" />
		</filter>
	</appender>

	<logger name="com">
		<level value="ERROR" />
	</logger>

	<logger name="com.cpt" >
		<level value="DEBUG" />
	</logger>

	<logger name="com.cpt.console.common.util.JDBCUtil" >
		<level value="ERROR" />
	</logger>

	<!-- sql语句输出 -->
	<logger name="jdbc.sqltiming">
		<level value="ERROR" />
	</logger>
	<!-- sql语句输出 -->

	<logger name="org">
		<level value="ERROR" />
	</logger>
	<logger name="io.netty">
		<level value="ERROR" />
	</logger>
	<logger name="log4jdbc">
		<level value="ERROR" />
	</logger>
	<logger name="httpclient">
		<level value="ERROR" />
	</logger>

	<logger name="jdbc.sqlonly">
		<level value="OFF" />
	</logger>
	<logger name="jdbc.audit">
		<level value="OFF" />
	</logger>
	<logger name="jdbc.resultset">
		<level value="OFF" />
	</logger>
	<logger name="jdbc.connection">
		<level value="OFF" />
	</logger>

	<logger name="freemarker.cache">
		<level value="OFF" />
	</logger>

	<root>
		<priority value="debug" />
		<appender-ref ref="${log4j.level}" />
		<appender-ref ref="ERROR" />
	</root>

</log4j:configuration>
